<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="p-1" *ngFor="let letter of word1">
        <div class="letter" [class.invalid-word]="letter.active" [ngStyle]="{'background-color': letter.color}">
          {{letter.text}}
        </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="p-1" *ngFor="let letter of word2">
        <div class="letter" [ngStyle]="{'background-color': letter.color}">
          {{letter.text}}
        </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="p-1" *ngFor="let letter of word3">
        <div class="letter" [ngStyle]="{'background-color': letter.color}">
          {{letter.text}}
        </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="p-1" *ngFor="let letter of word4">
        <div class="letter" [ngStyle]="{'background-color': letter.color}">
          {{letter.text}}
        </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="p-1" *ngFor="let letter of word5">
        <div class="letter" [ngStyle]="{'background-color': letter.color}">
          {{letter.text}}
        </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="p-1" *ngFor="let letter of word6">
        <div class="letter" [ngStyle]="{'background-color': letter.color}">
          {{letter.text}}
        </div>
    </div>
  </div>
  <div style="margin: 50px auto;">
    <app-keyboard [green]="green" [yellow]="yellow" [gray]="gray" [resetKeyboard]="resetKeyboard" (emitter)="handleKeyboardAction($event)"></app-keyboard>
  </div>
</div>
<app-modal *ngIf="showModal" (emitter)="initChallenge()" [showModal]="showModal" [modalData]="modalData"></app-modal>