<button type="button" id="toggler" data-bs-toggle="modal" data-bs-target="#exampleModal">
</button>
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalData.title}}</h5>
      </div>
      <div class="modal-body" *ngIf="modalData.type == 'info'">
        Rules1
      </div>
      <div class="modal-body" *ngIf="modalData.type != 'info'">
        {{modalData.text}}
      </div>
      <div class="modal-footer" *ngIf="modalData.type == 'info'">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
      <div class="modal-footer" *ngIf="modalData.type != 'info'">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
        (click)="reloadChallenge()">Try New</button>
      </div>
    </div>
  </div>
</div>